In [1]:
import sys
import os
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import numpy as np
import time
import pyarrow.parquet as pq
import scipy
import bisect
import sklearn.metrics as m
from catboost import CatBoostClassifier, CatBoostRegressor, Pool
from sklearn.model_selection import train_test_split
from sklearn.calibration import calibration_curve, CalibratedClassifierCV
from sklearn.ensemble import RandomForestClassifier

In [83]:
SPLIT_SEED = 42
DATA_FILE = 'data_out/data_for_learn_parquet_last_2'
TARGET_FILE = 'data_in/public_train.pqt'
SUBMISSION_FILE = 'data_in/submit_2.pqt'

In [84]:
data = pq.read_table(f"{DATA_FILE}").to_pandas()

In [85]:
data = data.fillna(0)

In [68]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 415317 entries, 0 to 415316
Data columns (total 55 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   user_id                           415317 non-null  int64
 1   price                             415317 non-null  float64
 2   max_request_cnt                   415317 non-null  int64
 3   avg_request_cnt                   415317 non-null  float64
 4   count_request_cnt                 415317 non-null  int64
 5   max_night_request_cnt             415317 non-null  float64
 6   avg_night_request_cnt             415317 non-null  float64
 7   count_night_request_cnt           415317 non-null  float64
 8   max_day_request_cnt               415317 non-null  float64
 9   avg_day_request_cnt               415317 non-null  float64
 10  count_day_request_cnt             415317 non-null  float64
 11  max_morning_request_cnt           415317 non-null  float64
 12  avg_morning_request_cnt           415317 non-null  float64
 13  count_morning_request_cnt         415317 non-null  float64
 14  max_evening_request_cnt           415317 non-null  float64
 15  avg_evening_request_cnt           415317 non-null  float64
 16  count_evening_request_cnt         415317 non-null  float64
 17  max_sum_date_request_cnt          415317 non-null  int64
 18  min_sum_date_request_cnt          415317 non-null  int64
 19  avg_sum_date_request_cnt          415317 non-null  float64
 20  max_sum_date_day_request_cnt      415317 non-null  float64
 21  min_sum_date_day_request_cnt      415317 non-null  float64
 22  avg_sum_date_day_request_cnt      415317 non-null  float64
 23  max_sum_date_night_request_cnt    415317 non-null  float64
 24  min_sum_date_night_request_cnt    415317 non-null  float64
 25  avg_sum_date_night_request_cnt    415317 non-null  float64
 26  max_sum_date_morning_request_cnt  415317 non-null  float64
 27  min_sum_date_morning_request_cnt  415317 non-null  float64
 28  avg_sum_date_morning_request_cnt  415317 non-null  float64
 29  max_sum_date_evening_request_cnt  415317 non-null  float64
 30  min_sum_date_evening_request_cnt  415317 non-null  float64
 31  avg_sum_date_evening_request_cnt  415317 non-null  float64
 32  count_date                        415317 non-null  int64
 33  count_day_date                    415317 non-null  float64
 34  count_night_date                  415317 non-null  float64
 35  count_morning_date                415317 non-null  float64
 36  count_evening_date                415317 non-null  float64
 37  avg_count_part_of_day_date        415317 non-null  float64
 38  max_count_part_of_day_date        415317 non-null  int64
 39  min_count_part_of_day_date        415317 non-null  int64
 40  avg_lag_date                      415317 non-null  float64
 41  max_lag_date                      415317 non-null  float64
 42  min_lag_date                      415317 non-null  float64
 43  count_region_name                 415317 non-null  int64
 44  count_city_name                   415317 non-null  int64
 45  top_1_url_sum_request_cnt         415317 non-null  object
 46  top_2_url_sum_request_cnt         415317 non-null  object
 47  top_3_url_sum_request_cnt         415317 non-null  object
 48  top_4_url_sum_request_cnt         415317 non-null  object
 49  top_5_url_sum_request_cnt         415317 non-null  object
 50  top_1_url_count_request_cnt       415317 non-null  object
 51  top_2_url_count_request_cnt       415317 non-null  object
 52  top_3_url_count_request_cnt       415317 non-null  object
 53  region_name                       415317 non-null  object
 54  cpe_model_name                    415317 non-null  object
dtypes: float64(35), int64(10), object(10)
memory usage: 174.3+ MB

In [88]:
all_usr_emb = pq.read_table(f"data_in/all_usr_emb_f80_i40.parquet").to_pandas()
data = data.merge(all_usr_emb, how = 'left', on = ['user_id'])
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 415317 entries, 0 to 415316
Columns: 215 entries, user_id to 79_y
dtypes: float32(160), float64(35), int64(10), object(10)
memory usage: 430.9+ MB

In [89]:
count_all_usr_emb = pq.read_table(f"data_in/count_usr_emb_f50_i30.parquet").to_pandas()
data = data.merge(count_all_usr_emb, how = 'left', on = ['user_id'])
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 415317 entries, 0 to 415316
Columns: 265 entries, user_id to 49
dtypes: float32(210), float64(35), int64(10), object(10)
memory usage: 510.1+ MB

In [90]:
target = pq.read_table(f"{TARGET_FILE}").to_pandas()

In [91]:
data_t_is_male = target.merge(data, how = 'left', on = ['user_id'])

In [92]:
data_t_is_male['is_male'] = data_t_is_male['is_male'].map(str)
data_t_is_male = data_t_is_male[data_t_is_male['is_male'] != 'None']
data_t_is_male = data_t_is_male[data_t_is_male['is_male'] != 'NA']
data_t_is_male['is_male'] = data_t_is_male['is_male'].map(int)
data_t_is_male['is_male'].value_counts()

1    135332
0    128994
Name: is_male, dtype: int64

In [93]:
no_importance = ['count_region_name', 'top_3_url_count_request_cnt', 'count_day_date', 'count_morning_date', 'count_date', 'count_night_date', 'count_evening_date', 'min_sum_date_request_cnt', 'min_sum_date_evening_request_cnt', 'min_sum_date_day_request_cnt', 'min_sum_date_morning_request_cnt', 'min_sum_date_night_request_cnt', 'max_day_request_cnt', 'min_lag_date', 'max_morning_request_cnt', 'max_evening_request_cnt', 'max_request_cnt', 'max_night_request_cnt', 'min_count_part_of_day_date', 'max_count_part_of_day_date']

In [94]:
data_t_is_male = data_t_is_male.drop(no_importance, axis = 1)

In [95]:
cat_features = list(data_t_is_male.select_dtypes(['object']).columns)

In [96]:
print(cat_features)

['top_1_url_sum_request_cnt', 'top_2_url_sum_request_cnt', 'top_3_url_sum_request_cnt', 'top_4_url_sum_request_cnt', 'top_5_url_sum_request_cnt', 'top_1_url_count_request_cnt', 'top_2_url_count_request_cnt', 'region_name', 'cpe_model_name']

In [97]:
data_t_is_male.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 264326 entries, 0 to 269999
Columns: 247 entries, age to 49
dtypes: float32(210), float64(23), int64(5), object(9)
memory usage: 288.4+ MB

## Получим оценку по полу

In [98]:
%%time
x_train, x_test, y_train, y_test = train_test_split(\
    data_t_is_male.drop(['user_id', 'age', 'is_male'], axis = 1), data_t_is_male['is_male'], test_size = 0.25, random_state = SPLIT_SEED)

CPU times: user 459 ms, sys: 74.6 ms, total: 534 ms
Wall time: 537 ms

In [99]:
clf_is_male = CatBoostClassifier(thread_count=3
                                 , iterations=2000
                                 , random_seed=SPLIT_SEED, learning_rate=0.05, early_stopping_rounds=20
                                 , eval_metric='AUC'
                                 , depth=7
                                 , grow_policy='Depthwise'
                                 , min_data_in_leaf = 3
                                 )

In [100]:
%%time
clf_is_male.fit(x_train, y_train, verbose = False, cat_features=cat_features
                , plot=True
                )
print(f'GINI по полу {2 * m.roc_auc_score(y_test, clf_is_male.predict_proba(x_test)[:,1]) - 1:2.3f}')
# 0.688

MetricVisualizer(layout=Layout(align_self='stretch', height='500px'))

GINI по полу 0.691
CPU times: user 1h 4min 15s, sys: 48.6 s, total: 1h 5min 3s
Wall time: 22min 1s

## Получим оценку по возрасту

In [103]:
def age_bucket(x):
    return bisect.bisect_right([18,25,35,45,55,65], x)

In [104]:
data_t_age = target.merge(data, how = 'left', on = ['user_id'])

In [105]:
data_t_age['age'] = data_t_age['age'].map(str)
data_t_age = data_t_age[data_t_age['age'] != 'None']
data_t_age = data_t_age[data_t_age['age'] != 'NA']
data_t_age['age'] = data_t_age['age'].map(float)

In [106]:
data_t_age['age'] = data_t_age['age'].map(age_bucket)
# sns.histplot(df['age'], bins = 7)

In [107]:
data_t_age = data_t_age[data_t_age['age'] != 0]

In [108]:
data_t_age['age'].value_counts()

2    85212
3    84065
4    42083
1    25969
5    25420
6     6900
Name: age, dtype: int64

In [112]:
cat_features = list(data_t_age.select_dtypes(['object']).columns)
print(cat_features)
cat_features = ['top_1_url_sum_request_cnt', 'top_2_url_sum_request_cnt', 'top_3_url_sum_request_cnt', 'top_4_url_sum_request_cnt', 'top_5_url_sum_request_cnt', 'top_1_url_count_request_cnt', 'top_2_url_count_request_cnt', 'top_3_url_count_request_cnt', 'region_name', 'cpe_model_name']

['is_male', 'top_1_url_sum_request_cnt', 'top_2_url_sum_request_cnt', 'top_3_url_sum_request_cnt', 'top_4_url_sum_request_cnt', 'top_5_url_sum_request_cnt', 'top_1_url_count_request_cnt', 'top_2_url_count_request_cnt', 'top_3_url_count_request_cnt', 'region_name', 'cpe_model_name']

In [115]:
x_train, x_test, y_train, y_test = train_test_split(\
    data_t_age.drop(['user_id', 'age', 'is_male'], axis = 1), data_t_age['age'], test_size = 0.25, random_state = SPLIT_SEED)

clf = CatBoostClassifier(thread_count = 3
                         , iterations = 5000
                         , random_seed = SPLIT_SEED, learning_rate = 0.05, early_stopping_rounds = 20
                         , eval_metric = 'AUC', loss_function = 'MultiClass'
                         , classes_count = 6
                         , class_names = [1, 2, 3, 4, 5, 6]
                        )

In [116]:
%%time

clf.fit(x_train, y_train, verbose = False, plot=True, cat_features=cat_features)
print(m.classification_report(y_test, clf.predict(x_test), \
                            target_names = ['18-25','25-34', '35-44', '45-54', '55-65', '65+']))

MetricVisualizer(layout=Layout(align_self='stretch', height='500px'))

              precision    recall  f1-score   support

       18-25       0.52      0.27      0.36      6596
       25-34       0.52      0.62      0.56     21118
       35-44       0.43      0.60      0.50     21105
       45-54       0.38      0.19      0.26     10507
       55-65       0.40      0.25      0.31      6375
         65+       0.41      0.04      0.07      1712

    accuracy                           0.46     67413
   macro avg       0.44      0.33      0.34     67413
weighted avg       0.46      0.46      0.44     67413

CPU times: user 17h 12min 33s, sys: 37min 33s, total: 17h 50min 7s
Wall time: 6h 3min 41s

## Сабмит

In [117]:
submit = pq.read_table(f"{SUBMISSION_FILE}").to_pandas()

In [118]:
submit_predict_data = submit.merge(data, how = 'left', on = ['user_id'])

In [32]:
# submit_predict_data = submit_predict_data.fillna(0)

In [119]:
submit['is_male'] = clf_is_male.predict_proba(submit_predict_data.drop(['user_id', 'count_region_name', 
    'top_3_url_count_request_cnt', 'count_day_date', 'count_morning_date', 'count_date', 'count_night_date', 
    'count_evening_date', 'min_sum_date_request_cnt', 'min_sum_date_evening_request_cnt', 'min_sum_date_day_request_cnt', 
    'min_sum_date_morning_request_cnt', 'min_sum_date_night_request_cnt', 'max_day_request_cnt', 'min_lag_date', 
    'max_morning_request_cnt', 'max_evening_request_cnt', 'max_request_cnt', 'max_night_request_cnt', 'min_count_part_of_day_date', 
    'max_count_part_of_day_date'], axis = 1))[:,1]
submit['age'] = clf.predict(submit_predict_data.drop(['user_id'], axis = 1))
submit.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 144724 entries, 221301 to 145315
Data columns (total 3 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  144724 non-null  int64
 1   is_male  144724 non-null  float64
 2   age      144724 non-null  int64
dtypes: float64(1), int64(2)
memory usage: 4.4 MB

In [120]:
submit.head()

        user_id   is_male  age
221301   221301  0.946883    2
31271     31271  0.574551    3
211594   211594  0.459825    2
253119   253119  0.539220    2
192578   192578  0.726408    2

In [121]:
submit.to_csv(f'data_out/sample_submission.csv', index = False, mode='w')

In [126]:
clf.get_feature_importance(prettified=True).head(60)

                          Feature Id  Importances
0                     cpe_model_name     2.228839
1          top_1_url_sum_request_cnt     2.035186
2                                 38     1.830543
3          top_2_url_sum_request_cnt     1.444013
4                                 25     1.400044
5                                 35     1.343871
6                              price     1.317015
7                        region_name     1.262874
8        top_1_url_count_request_cnt     1.237051
9                                 13     1.224975
10                                33     1.030700
11                                10     1.015934
12                                29     0.954601
13                count_morning_date     0.952254
14                              47_x     0.936725
15                              67_x     0.926725
16                                32     0.919598
17                                 6     0.915432
18       top_2_url_count_request_cnt     0.912954
19                              63_x     0.903454
20                                34     0.832024
21                                36     0.831692
22  avg_sum_date_evening_request_cnt     0.831008
23         top_3_url_sum_request_cnt     0.783021
24                                 1     0.782998
25                                46     0.777017
26                                39     0.764093
27         top_4_url_sum_request_cnt     0.743888
28    avg_sum_date_night_request_cnt     0.720708
29                              45_x     0.720355
30                                20     0.719507
31                                19     0.710640
32                                41     0.704197
33                                14     0.681807
34      avg_sum_date_day_request_cnt     0.675089
35       top_3_url_count_request_cnt     0.649567
36                              53_x     0.648833
37                              32_x     0.643101
38                                 2     0.622673
39                                 9     0.610470
40                               2_x     0.609847
41                                31     0.603164
42                              43_x     0.597723
43                              63_y     0.578138
44                                17     0.577738
45                              65_x     0.575018
46                                12     0.570305
47                                26     0.565179
48                              30_x     0.554040
49                              67_y     0.550331
50                              60_x     0.548519
51                              70_x     0.545083
52                                16     0.544772
53        avg_count_part_of_day_date     0.541697
54                               9_x     0.535522
55                              50_x     0.532863
56                                 3     0.532413
57                              46_x     0.531042
58                      avg_lag_date     0.525518
59                              34_x     0.521844

In [20]:
importance = clf_is_male.get_feature_importance(prettified=True).tail(60)

**Модель классификации по полу сильно ускорилась и немного улучшилась после удаления признаков с Importances < 0.3, после удаления Importances < 0.5 ухудшилавь**

In [21]:
importance.head(60)

                           Feature Id  Importances
74                                 65     0.558375
75                                 18     0.548302
76          count_morning_request_cnt     0.543132
77           max_sum_date_request_cnt     0.540781
78                                 53     0.527146
79                                 29     0.523092
80                                 50     0.522125
81           avg_sum_date_request_cnt     0.517819
82            avg_morning_request_cnt     0.509213
83                                 36     0.506564
84   avg_sum_date_morning_request_cnt     0.504662
85                avg_day_request_cnt     0.502766
86     avg_sum_date_night_request_cnt     0.500136
87                                 35     0.500080
88                                 74     0.495683
89          top_2_url_sum_request_cnt     0.495127
90                                 78     0.494696
91   avg_sum_date_evening_request_cnt     0.491434
92                    avg_request_cnt     0.487865
93            count_night_request_cnt     0.487531
94                                 54     0.485313
95                                 73     0.481287
96                                 69     0.479008
97                        region_name     0.475594
98                                 57     0.474585
99       avg_sum_date_day_request_cnt     0.473885
100                                66     0.470672
101         count_evening_request_cnt     0.464278
102      max_sum_date_day_request_cnt     0.456677
103         top_3_url_sum_request_cnt     0.456158
104             avg_night_request_cnt     0.448533
105                                61     0.447739
106  max_sum_date_morning_request_cnt     0.429114
107           avg_evening_request_cnt     0.424553
108                                72     0.416972
109         top_4_url_sum_request_cnt     0.396189
110  max_sum_date_evening_request_cnt     0.355463
111         top_5_url_sum_request_cnt     0.354070
112                      max_lag_date     0.334972
113    max_sum_date_night_request_cnt     0.319456
114                 count_region_name     0.261329
115       top_3_url_count_request_cnt     0.260475
116                    count_day_date     0.254782
117                count_morning_date     0.252493
118                        count_date     0.227702
119                  count_night_date     0.223293
120                count_evening_date     0.222673
121          min_sum_date_request_cnt     0.208218
122  min_sum_date_evening_request_cnt     0.198315
123      min_sum_date_day_request_cnt     0.180868
124  min_sum_date_morning_request_cnt     0.167238
125    min_sum_date_night_request_cnt     0.150397
126               max_day_request_cnt     0.146891
127                      min_lag_date     0.132132
128           max_morning_request_cnt     0.119075
129           max_evening_request_cnt     0.115836
130                   max_request_cnt     0.115217
131             max_night_request_cnt     0.093095
132        min_count_part_of_day_date     0.053075
133        max_count_part_of_day_date     0.042507

In [64]:
no_importance = list(importance[importance['Importances'] < 0.3]['Feature Id'])
print(no_importance)

['74', 'top_2_url_sum_request_cnt', '78', 'avg_sum_date_evening_request_cnt', 'avg_request_cnt', 'count_night_request_cnt', '54', '73', '69', 'region_name', '57', 'avg_sum_date_day_request_cnt', '66', 'count_evening_request_cnt', 'max_sum_date_day_request_cnt', 'top_3_url_sum_request_cnt', 'avg_night_request_cnt', '61', 'max_sum_date_morning_request_cnt', 'avg_evening_request_cnt', '72', 'top_4_url_sum_request_cnt', 'max_sum_date_evening_request_cnt', 'top_5_url_sum_request_cnt', 'max_lag_date', 'max_sum_date_night_request_cnt', 'count_region_name', 'top_3_url_count_request_cnt', 'count_day_date', 'count_morning_date', 'count_date', 'count_night_date', 'count_evening_date', 'min_sum_date_request_cnt', 'min_sum_date_evening_request_cnt', 'min_sum_date_day_request_cnt', 'min_sum_date_morning_request_cnt', 'min_sum_date_night_request_cnt', 'max_day_request_cnt', 'min_lag_date', 'max_morning_request_cnt', 'max_evening_request_cnt', 'max_request_cnt', 'max_night_request_cnt', 'min_count_part_of_day_date', 'max_count_part_of_day_date']

In [ ]:
# svm,